{% extends "base.html" %}

{% block content %}
<section class="login-section">
    <div class="login-card">
        <h2>Acceso restringido</h2>
        <p>Introduce la contraseña para acceder al modo administrador.</p>

        <form method="POST">
            <input type="password" name="password" placeholder="Contraseña" required>

            {% if error %}
                <p class="login-error">{{ error }}</p>
            {% endif %}

            <button type="submit">Entrar</button>
        </form>
    </div>
</section>
{% endblock %}